* {
    margin: 0;
    padding: 0;
}

.main-content {
    background-color: rgb(0, 0, 0);
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
}

.formulir {
    /* background-image: linear-gradient(to top, black, red,lightblue); */
    align-content: center;
    display: flex;
    justify-content: center;
    width: 400px;
    flex-wrap: wrap;
    padding: 10px;
    border: 5px solid aqua;
    /* border-radius: 10px; */
    box-shadow: 5px 5px rgb(255, 0, 0);
}

.form-input {
    height: 45px;
    width: 300px;
    margin: 5px;
    font-size: 17px;
    background-color: aliceblue;
    border: 2px solid aqua;
    border-radius: 15px;
    box-shadow: 3px 3px rgb(255, 0, 0);
    font-weight: bold;
}

#form-text {
    font-family: monospace;
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

#btn {
    width: 150px;
    height: 40px;
    background-image: linear-gradient(to left, red, aqua);
    color: rgb(255, 255, 255);
    border: 2px solid red;
    box-shadow: 2px 2px aqua;
    font-family: monospace;
    border-radius: 20px;
    font-weight: bold;   
}

#btn:hover {
    width: 155px;
    background-image: linear-gradient(to left, red, white);
}

.form-input:hover {
    background-color: rgb(195, 227, 240)
}

#form-text:hover {
    cursor: pointer;
}